{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}


<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>
    {{ form(form) }}
</div>
    
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}