{% extends 'base.html.twig' %}

{% block title %}Hello AmigosController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}


<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>
    
    <div>
        {% for i in amigos %}
            <div>
                {{ i.nickname }}
                <button>No hace nada</button>

            </div>
        {% endfor %}
    </div>
    <div class="">
        <h3>Añadir amigos</h3>
        <form method="post">
            <input type='text' name='buscaAmigo' id='buscaAmigo' placeholder='Introduce el nickname'/>
            <button id='Buscar' type="submit">
                Buscar
            </button>
        </form>
        <div id="resultado">
            
        </div>
    </div>
</div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('js/myJs.js') }}"></script>
    {% endblock %}

{% endblock %}
