{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}


<div class="example-wrapper">
    {{ form(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}