{% extends 'base.html.twig' %}

{% block title %}Hello TiendaController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Tienda</h1>
    {% for item in f %}
        <p>{{ item.contenido }} {{ item.precio }}</p>
    {% endfor %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
