{% extends 'base.html.twig' %}

{% block title %}Hello TiendaController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class='container'>
        <h1>Tienda</h1>
        {% for item in f %}
            <div class='row pack'>
                <img class='col-12 col-md-3 foto' src="{{ asset('uploads/fotos/'~item.foto) }}" alt="{{ item.foto }}">
                <p class="col-12 col-md-3 contenido">{{ item.contenido }}</p>
                <p class='col-12 col-md-3 precio'>{{ item.precio }} €</p>
                <input class='col-12 col-md-3 text-light bg-primary' type='button' value='Comprar'>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}