<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Primer{% endblock %}</title>
        

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body class='container text-center'>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand text-primary mr-auto" href="{{ path('principal') }}">ParchisMg98</a>
                <a class="nav-link" href="#">Jugar <span class="sr-only">(current)</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn nav-link text-primary" href="#">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link text-primary" href="{{ path('amigos') }}">Amigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link text-primary" href="{{ path('perfil') }}">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link text-primary" href="#">Ajustes</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link text-primary" href="{{ path('app_logout') }}">Desconectarse</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            {% block javascripts %}
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="{{ asset('js/jquery.min.js') }}"></script>
                <script src="{{ asset('js/popper.min.js') }}"></script>
                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            {% endblock %}
        {% endblock %}
        
    </body>
</html>